<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="invoker" class="com.myprojects.commands.invoker.RemoteRequestor">
		<property name="onCommands">
			<list>
				<ref bean="cielingFanOnCommand" />
				<ref bean="kitchenLightOnCommand" />
				<ref bean="bedroomLightOnCommand" />
				<ref bean="gardenLightOnCommand" />
				<ref bean="houseDoorOpenCommand"/>
				<ref bean="gardenDoorOpenCommand"/>
				<ref bean="garageDoorOpenCommand"/>
			</list>
		</property>
		<property name="offCommands">
			<list>
				<ref bean="cielingFanOffCommand" />
				<ref bean="kitchenLightOffCommand" />
				<ref bean="bedroomLightOffCommand" />
				<ref bean="gardenLightOffCommand" />
				<ref bean="houseDoorClosedCommand" />
				<ref bean="gardenDoorClosedCommand" />
				<ref bean="garageDoorClosedCommand" />

			</list>
		</property>
	</bean>

	<!-- bean configuration for Fan object -->
	<bean id="cielingFanOffCommand" class="com.myprojects.commands.CielingFanOff">
		<property name="cielingFan" ref="cielingFanReciever"></property>
	</bean>
	<bean id="cielingFanOnCommand" class="com.myprojects.commands.CielingFanOn">
		<property name="cielingFan" ref="cielingFanReciever"></property>
	</bean>
	<bean id="cielingFanReciever" class="com.myprojects.receiver.CielingFan">
		<constructor-arg value="OFF"></constructor-arg>
	</bean>

	<!-- Bean Configuration for Light object -->
	<!--Kitchen Light Command configuration with Actual worker object -->
	<bean id="kitchenLightOnCommand" class="com.myprojects.commands.LightCommandOn">
		<constructor-arg ref="lightOnKitchen"></constructor-arg>
	</bean>
	<bean id="kitchenLightOffCommand" class="com.myprojects.commands.LightCommandOff">
		<constructor-arg ref="lightOnKitchen"></constructor-arg>
	</bean>

	<!-- Bedroom light command configuration with actual worker object -->
	<bean id="bedroomLightOnCommand" class="com.myprojects.commands.LightCommandOn">
		<constructor-arg ref="lightOnRoom"></constructor-arg>
	</bean>
	<bean id="bedroomLightOffCommand" class="com.myprojects.commands.LightCommandOff">
		<constructor-arg ref="lightOnRoom"></constructor-arg>
	</bean>

	<!-- Garden Light configuration with actual object -->
	<bean id="gardenLightOnCommand" class="com.myprojects.commands.LightCommandOn">
		<constructor-arg ref="lightOnGarden"></constructor-arg>
	</bean>
	<bean id="gardenLightOffCommand" class="com.myprojects.commands.LightCommandOff">
		<constructor-arg ref="lightOnGarden"></constructor-arg>
	</bean>

	<bean id="light" class="com.myprojects.receiver.Light" abstract="true"></bean>
	<bean id="lightOnKitchen" class="com.myprojects.receiver.KitchenLight"
		parent="light"></bean>
	<bean id="lightOnGarden" class="com.myprojects.receiver.GardenLight"
		parent="light"></bean>
	<bean id="lightOnRoom" class="com.myprojects.receiver.BedroomLight"
		parent="light">
		<property name="intensity" value="OFF"></property>
	</bean>


	<!-- Door configuration -->

	<bean id="houseDoorClosedCommand" class="com.myprojects.commands.DoorCloseCommand">
		<constructor-arg ref="houseDoor"></constructor-arg>
	</bean>
	<bean id="houseDoorOpenCommand" class="com.myprojects.commands.DoorCloseCommand">
		<constructor-arg ref="houseDoor"></constructor-arg>
	</bean>

	<bean id="gardenDoorClosedCommand" class="com.myprojects.commands.DoorCloseCommand">
		<constructor-arg ref="gardenDoor"></constructor-arg>
	</bean>
	<bean id="gardenDoorOpenCommand" class="com.myprojects.commands.DoorCloseCommand">
		<constructor-arg ref="gardenDoor"></constructor-arg>
	</bean>

	<bean id="garageDoorClosedCommand" class="com.myprojects.commands.DoorCloseCommand">
		<constructor-arg ref="garageDoor"></constructor-arg>
	</bean>
	<bean id="garageDoorOpenCommand" class="com.myprojects.commands.DoorCloseCommand">
		<constructor-arg ref="garageDoor"></constructor-arg>
	</bean>

	<bean id="door" class="com.myprojects.receiver.Door" abstract="true"></bean>
	<bean id="houseDoor" class="com.myprojects.receiver.HouseDoor"
		parent="door"></bean>

	<bean id="gardenDoor" class="com.myprojects.receiver.GardenDoor"
		parent="door"></bean>

	<bean id="garageDoor" class="com.myprojects.receiver.GarageDoor"
		parent="door"></bean>

</beans>